@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.eot");
  src: url("../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.woff") format("woff"), url("../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
body {
  margin: 0; }

.nav-bar--bg {
  width: 100%;
  background-color: rgba(197, 170, 141, 0.22); }

.nav-bar {
  display: flex;
  justify-content: space-between;
  max-width: 990px;
  padding: 10px 20px;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  align-items: center; }
  .nav-bar .group-link {
    font-family: PlayfairDisplay;
    font-size: 17px;
    color: #474747; }
    .nav-bar .group-link a {
      font-size: 16px;
      letter-spacing: 0.4px;
      color: #333333;
      margin-left: 15px;
      display: inline-flex;
      align-items: center;
      text-decoration: none; }
      .nav-bar .group-link a:hover {
        text-decoration: underline; }

.hamb, #hamb-check, .menu-mobile {
  display: none; }

@media (max-width: 900px) {
  #hamb-check:checked + .menu-mobile {
    top: 116px; }

  .menu-mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: -250px;
    z-index: 1;
    transition: all .8s;
    font-family: PlayfairDisplay;
    font-size: 17px;
    text-align: center;
    color: #474747; }
    .menu-mobile a {
      text-transform: uppercase;
      color: #333333;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #ccc;
      height: 50px;
      background: #fff;
      text-decoration: none; }
      .menu-mobile a:hover {
        background-color: #f1ece6; }
      .menu-mobile a:focus {
        font-weight: bold; }

  .nav-bar {
    background-color: #f1ece6;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    position: relative;
    z-index: 3; }
    .nav-bar .group-link {
      display: none; }

  .hamb {
    cursor: pointer;
    display: block;
    height: 105px; }
    .hamb img {
      width: 105px;
      height: 105px; } }
.main_title {
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  height: 110px;
  position: relative;
  justify-content: center;
  margin-top: 30px; }

.main_title-drop_cap {
  opacity: 0.2;
  font-family: "PlayfairDisplay";
  font-size: 114px;
  font-style: italic;
  color: #ffffff;
  position: absolute;
  bottom: -15px;
  left: -40px;
  line-height: 90px; }

.main_title-text {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 5.3px;
  color: #c5aa8d;
  position: relative; }

.header {
  background-image: url(../img/main.png);
  height: 644px;
  background-size: cover;
  background-position: bottom;
  padding: 0 20px; }

.header-block {
  max-width: 1000px;
  margin: auto;
  padding-top: 205px; }

.header-block-title {
  font-family: PlayfairDisplay;
  font-size: 55px;
  font-weight: 900;
  letter-spacing: 0.8px;
  color: #c5aa8d; }

.header-block-title_desc {
  font-family: PlayfairDisplay;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  color: #474747;
  margin-bottom: 7px; }

.header-block-separator {
  margin-bottom: 17px; }

.header-block-desk {
  width: 321px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.36;
  color: #3b3b3b;
  margin-bottom: 40px; }

.description {
  margin-bottom: 30px; }

.description-first {
  max-width: 790px;
  margin: auto;
  padding: 0 130px 0 345px;
  background-image: url(../img/desk_bg.png);
  background-repeat: no-repeat;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  position: relative;
  margin-bottom: 22px; }
  .description-first .main_title {
    margin-left: 27%;
    margin-right: calc(73% - 157px); }

.description-first-text {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.36;
  text-align: left;
  color: #ffffff;
  position: relative;
  margin-top: 25px;
  margin-bottom: 30px; }

.description-first-text-drop_cap {
  font-family: PlayfairDisplay;
  font-size: 130px;
  line-height: 95px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  left: -129px;
  top: -40px; }

.description-first-img {
  position: relative; }
  .description-first-img img {
    width: 100%; }

.description-first-img-desk {
  transform: rotate(-90deg);
  font-family: PlayfairDisplay;
  font-size: 14px;
  font-style: italic;
  text-align: left;
  color: #1b1b1b;
  display: inline-block;
  position: absolute;
  bottom: 50px;
  left: -85px; }

.description-second {
  margin: auto;
  max-width: 1260px;
  padding: 0 130px;
  display: flex; }

.description-second-img > img {
  margin-bottom: 15px; }

.description-second-img-desk {
  font-family: PlayfairDisplay;
  font-size: 14px;
  font-style: italic;
  color: #1b1b1b; }

.description-second-quotes {
  font-family: Roboto;
  font-size: 81px;
  text-align: left;
  color: #000000;
  line-height: 30px;
  margin-left: 28px; }

.description-second-main {
  margin-left: 19px;
  padding-top: 50px; }

.description-second-main-title {
  font-family: PlayfairDisplay;
  font-size: 24px;
  font-style: italic;
  line-height: 1.17;
  text-align: left;
  color: #000000;
  margin-bottom: 10px; }

.description-second-main-title-top {
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  line-height: 0.78; }

.description-second-main-separator {
  margin-bottom: 10px; }

.description-second-main-text {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.36;
  text-align: left;
  color: #3b3b3b; }

.about_us {
  max-width: 1000px;
  padding: 0 135px 70px 135px;
  margin: auto;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  background-image: url(../img/about_us_bg.png);
  background-repeat: no-repeat; }
  .about_us .main_title {
    margin-bottom: 10px; }

.about_us-main {
  display: flex;
  justify-content: space-between; }

.about_us-main__mobile {
  display: none; }

.about_us-main-first {
  max-width: 400px;
  text-align: right; }

.about_us-main-first-avatar {
  margin-bottom: 43px;
  width: 100%; }

.about_us-main-first-name {
  margin-bottom: 10px;
  font-family: PlayfairDisplay;
  font-size: 32px;
  font-weight: bold;
  color: #ffffff; }

.about_us-main-first-separator {
  margin-bottom: 10px; }

.about_us-main-first-text {
  margin-bottom: 30px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.36;
  color: #ffffff;
  padding-right: 30px; }

.social-group-el {
  margin-right: 5px; }

.social-group-el:last-child {
  margin-right: 0px; }

.about_us-main-second {
  max-width: 400px;
  text-align: left;
  margin-top: 90px;
  margin-left: 20px; }
  .about_us-main-second .social-group {
    margin-bottom: 43px; }

.about_us-main-second-avatar {
  width: 100%; }

.about_us-main-second-name {
  margin-bottom: 10px;
  font-family: PlayfairDisplay;
  font-size: 32px;
  font-weight: bold;
  color: #ffffff; }

.about_us-main-second-separator {
  margin-bottom: 10px; }

.about_us-main-second-text {
  margin-bottom: 30px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.36;
  color: #ffffff;
  padding-left: 30px; }

.project {
  max-width: 1000px;
  margin: auto;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding: 0px 20px;
  margin-bottom: 50px; }
  .project .main_title-drop_cap {
    color: #404040; }

.project-main {
  display: flex; }

.project-main-slider_nav {
  width: 178px; }

.project-main-slider_block-slider-slide {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.active {
  visibility: visible;
  opacity: 1;
  position: relative; }

.nav_active {
  opacity: 0.3; }

.project-main-slider_nav-block {
  padding-bottom: 20px;
  padding-top: 12px;
  border-bottom: 2px solid #c5aa8d; }

.project-main-slider_nav-block:first-child {
  padding-top: 0px; }

.project-main-slider_nav-block:last-child {
  padding-bottom: 0px;
  border-bottom: 0px; }

.project-main-slider_nav-block-title {
  font-family: PlayfairDisplay;
  font-size: 18px;
  font-weight: bold;
  color: #c5aa8d;
  margin-bottom: 14px; }

.project-main-slider_nav-block-img {
  width: 178px;
  height: 175px;
  margin-bottom: 16px; }

.project-main-slider_nav-block-desc {
  font-size: 18px;
  text-align: left;
  color: #3b3b3b; }

.project-main-slider_block {
  margin-left: 32px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.project-main-slider_block-slider {
  text-align: left; }

.project-main-slider_block-slider-slide-img {
  margin-bottom: 31px; }

.project-main-slider_block-slider-slide-title {
  font-family: PlayfairDisplay;
  font-size: 36px;
  font-weight: bold;
  color: #c5aa8d;
  margin-bottom: 10px; }

.project-main-slider_block-slider-slide-date {
  font-family: Roboto;
  font-size: 16px;
  text-align: left;
  color: #474747;
  margin-bottom: 10px; }

.project-main-slider_block-slider-slide-separator {
  margin-bottom: 10px; }

.project-main-slider_block-slider-slide-text {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.36;
  text-align: left;
  color: #3b3b3b;
  padding-left: 30px;
  margin-bottom: 30px; }

.button {
  font-family: Roboto;
  font-size: 16px;
  color: #ffffff;
  padding: 14px 32px;
  background-color: #c5aa8d;
  text-decoration: none;
  -webkit-box-shadow: -6px 5px 0px 0px #666f7f;
  -moz-box-shadow: -6px 5px 0px 0px #666f7f;
  box-shadow: -6px 5px 0px 0px #666f7f;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.button:hover {
  background-color: #b99a78;
  -webkit-box-shadow: 0px 0px 0px 0px #666f7f;
  -moz-box-shadow: 0px 0px 0px 0px #666f7f;
  box-shadow: 0px 0px 0px 0px #535d6f; }

@media (max-width: 900px) {
  .about_us-main__mobile {
    display: flex;
    flex-direction: column;
    align-items: center; }

  .about_us-main__desk {
    display: none; }

  .about_us {
    padding: 0 30px 50px 30px; }

  .about_us-main-first, .about_us-main-second {
    text-align: left; }

  .about_us-main-first-avatar, .about_us-main-second-avatar {
    margin-bottom: 10px; }

  .about_us-main-second {
    margin: 0px; }

  .about_us-main-first {
    margin-bottom: 50px; }

  .about_us-main-second-text, .about_us-main-first-text {
    margin-bottom: 10px; }

  .social-group {
    margin-bottom: 0px !important; }

  .about_us-main-second-text {
    padding-left: 0px; }

  .about_us-main-first-text {
    padding-right: 0px; }

  .about_us {
    background-repeat: repeat; }

  .description-first {
    padding: 0 30px 0 130px; }

  .description-first-text-drop_cap {
    font-size: 75px;
    left: -75px; }

  .description-second {
    flex-direction: column-reverse;
    padding: 0 70px; }

  .description-second-quotes {
    display: none; }

  .description-second-main {
    margin-bottom: 30px;
    margin-left: 0px; }

  .description-second-img {
    text-align: center; }
    .description-second-img img {
      width: 100%;
      max-width: 400px; } }
@media (max-width: 600px) {
  .about_us-main-second-name, .about_us-main-first-name {
    font-size: 22px; }

  .main_title-drop_cap {
    font-size: 70px;
    bottom: -25px;
    left: -26px; }

  .main_title {
    height: 70px; } }
@media (max-width: 450px) {
  .description-first {
    padding: 0 30px 30px 40px;
    background-repeat: repeat; }

  .description-first-text-drop_cap {
    font-size: 30px;
    left: -27px;
    top: -43px; } }

/*# sourceMappingURL=style.css.map */
